@charset "UTF-8";
/* CSS Document */


.page-header {
	margin: 0 auto;
	width: 800px;
	overflow: none;
}

.home-content {
	margin: 0 auto;
	margin-top: 20px;
	width: 800px;
	overflow: auto;
}

#accordion2 {
	margin: 0 auto;
	margin-top: 50px;
	width: 800px;
	overflow: none;
}